@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --color-neutral-100: 255 255 255;
    --color-neutral-200: 251 251 251;
    --color-neutral-300: 230 233 232;
    --color-neutral-400: 225 234 231;
    --color-neutral-500: 156 158 158;
    --color-neutral-600: 98 103 98;
    --color-neutral-700: 76 83 80;
    --color-neutral-800: 31 36 37;
    --color-neutral-900: 0 23 31;
    --color-primary-light: 150 252 191;
    --color-primary: 99 227 150;
    --color-primary-dark: 40 200 104;
    --color-primary-darker: 28 156 79;
    --color-secondary-light: 183 218 251;
    --color-secondary: 4 39 72;
    --color-error: 255 183 188;
    --color-error-dark: 145 7 7;
    --color-success-dark: 16 107 52;
    --color-success: 40 200 104;
    --color-warning-dark: 116 116 10;
    --color-warning: 201 213 26;
    --color-info-dark: 0 52 89;
    --color-info: 3 166 219;
  }

  html {
    @apply bg-neutral-100 text-neutral-900;
  }

  .font-symbol {
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;

    &:not(.large-symbol) {
      font-variation-settings:
        "FILL" 0,
        "wght" 300,
        "GRAD" 0,
        "opsz" 24;
    }

    &.large-symbol {
      font-variation-settings:
        "FILL" 0,
        "wght" 300,
        "GRAD" 0,
        "opsz" 48;
    }
  }

  .view {
    @apply w-full px-5 space-y-6 mx-auto my-16 max-w-7xl;
  }

  .small-view {
    @apply w-full px-5 space-y-6 mx-auto my-16 max-w-4xl;
  }

  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  .font-symbol[data-icon]::after {
    content: attr(data-icon);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}
